.cardLayout {
  margin: 1rem 0.5rem;
  overflow: visible;
  height: 100%;
}

.cardLayout:active {
  opacity: 0
}

.tags {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.tag {
  margin-right: 0.5rem;
}

.example {
  background-color: rgba(102,158,255, 0.2);
}

.principle {
  background-color: rgba(61,204,145, 0.2);
}

.markdown img {
  max-width: 100%;
}
